django
djangorestframework
psycopg2-binary
djangorestframework-simplejwt
django-cors-headers
django_rest_passwordreset
strawberry-graphql
strawberry-graphql-django
django-health-check
Pillow
boto3
django-storages
sendgrid
django-extensions
pygraphviz
pydot
pyparsing
httplib2
google-api-python-client
google-auth
google-api-core
oauth2client
django-tinymce
coverage
pandas
bs4
html5lib
